name: Media
services:
  plex:
    image: linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
    volumes:
      - plex:/config
      - /mnt/HDD/Sorted/TV Shows/:/tv
      - /mnt/HDD/Sorted/Movies:/movies
    pull_policy: always
    restart: always

  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - TORRENTING_PORT=6881
      - PUID=1000
      - PGID=1000
    volumes:
      - qbittorrent:/config
      - /mnt/HDD:/hdd
      - ./vuetorrent:/vuetorrent
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    pull_policy: always
    restart: always

  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - prowlarr:/config
    ports:
      - 9696:9696
    pull_policy: always
    restart: always

  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - sonarr:/config
      - /mnt/HDD:/hdd
    ports:
      - 8989:8989
    pull_policy: always
    restart: always
    depends_on:
      - qbittorrent
      - prowlarr

  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - radarr:/config
      - /mnt/HDD:/hdd
    ports:
      - 7878:7878
    pull_policy: always
    restart: always
    depends_on:
      - qbittorrent
      - prowlarr

  bazarr:
    image: linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - bazarr:/config
      - /mnt/HDD:/hdd
    ports:
      - 6767:6767
    pull_policy: always
    restart: always
    depends_on:
      - radarr
      - sonarr
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    ports:
      - "4533:4533"
    pull_policy: always
    restart: always
    volumes:
      - navidrome:/data
      - "/mnt/HDD/Music:/music:ro"

  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    container_name: audiobookshelf
    ports:
      - 13378:80
    volumes:
      - /mnt/HDD/Audiobooks:/audiobooks
      # - </path/to/podcasts>:/podcasts
      - audiobookshelf:/config
      - audiobookshelf_meta:/metadata

volumes:
  qbittorrent:
  sonarr:
  radarr:
  bazarr:
  plex:
  prowlarr:
  navidrome:
  audiobookshelf:
  audiobookshelf_meta:

networks:
  default:
    name: home
    external: true
