name: Utilities
services:
  caddy:
    image: caddy:2-alpine
    container_name: caddy
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./caddy:/etc/caddy
      - /var/log/:/var/log
      - caddy_data:/data
      - caddy_config:/config
    pull_policy: always
    restart: unless-stopped

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    env_file: homepage.env
    environment:
      PUID: 1000
      PGID: 1000
      HOMEPAGE_ALLOWED_HOSTS: home.kovacs.eu.org,home.kvcs.dev
    ports:
      - 3001:3000
    volumes:
      - /home/alex/dotfiles/files/docker/home-server/homepage:/app/config
      - /mnt/HDD/:/HDD
    pull_policy: always
    restart: unless-stopped
    depends_on:
      - dockerproxy

  # Needed for homepage
  dockerproxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:latest
    container_name: dockerproxy
    environment:
      - CONTAINERS=1 # Allow access to viewing containers
      - SERVICES=1 # Allow access to viewing services (necessary when using Docker Swarm)
      - TASKS=1 # Allow access to viewing tasks (necessary when using Docker Swarm)
      - POST=0 # Disallow any POST operations (effectively read-only)
    ports:
      - 2375:2375
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # Mounted as read-only
    pull_policy: always
    restart: unless-stopped

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    command: -H tcp://portainer_agent:9001 --tlsskipverify
    ports:
      - 9000:9000
      - 9443:9443
    volumes:
      - portainer:/data
    pull_policy: always
    restart: unless-stopped
    depends_on:
      - portainer_agent

  portainer_agent:
    ports:
      - 9001:9001
    container_name: portainer_agent
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
      - /:/host
    image: portainer/agent:latest

  file-browser:
    image: gtstef/filebrowser
    container_name: file-browser
    ports:
      - 8112:80
    volumes:
      - /mnt/HDD/DockerData/filebrowser:/home/filebrowser/data
      - /mnt/HDD/DockerData/filebrowser/database.db:/database.db
      - /:/srv
    pull_policy: always
    restart: unless-stopped

  beszel:
    image: henrygd/beszel
    container_name: beszel
    ports:
      - 8090:8090
    volumes:
      - beszel:/beszel_data
    pull_policy: always
    restart: unless-stopped

  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    env_file: vaultwarden.env
    environment:
      - DOMAIN=https://vault.int.kvcs.dev
    volumes:
      - /mnt/HDD/DockerData/VaultWarden:/data/
    ports:
      - 8088:80
    pull_policy: always
    restart: unless-stopped

  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    container_name: syncthing
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Bucharest
    volumes:
      - /mnt/HDD/DockerData/Syncthing:/config
      - /mnt/HDD/Photos:/photos
      - /mnt/HDD/Obsidian:/obsidian
    network_mode: host
    pull_policy: always
    restart: unless-stopped

  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    network_mode: host
    volumes:
      - /mnt/HDD/DockerData/adguard/work:/opt/adguardhome/work
      - /mnt/HDD/DockerData/adguard/conf:/opt/adguardhome/conf
    pull_policy: always
    restart: unless-stopped

  scrutiny:
    container_name: scrutiny
    image: ghcr.io/analogj/scrutiny:master-omnibus
    cap_add:
      - SYS_RAWIO
      - SYS_ADMIN
    ports:
      - "8081:8080" # webapp
      - "8086:8086" # influxDB admin
    volumes:
      - /run/udev:/run/udev:ro
      - /mnt/HDD/DockerData/scrutiny/config:/opt/scrutiny/config
      - /mnt/HDD/DockerData/scrutiny/influxdb:/opt/scrutiny/influxdb
    devices:
      - /dev/sda:/dev/sda
      - /dev/nvme0:/dev/nvme0
    pull_policy: always
    restart: unless-stopped

  speedtest:
    image: openspeedtest/latest
    container_name: speedtest
    ports:
      - "3002:3000"
    pull_policy: always
    restart: unless-stopped

  whatsupdocker:
    image: getwud/wud
    container_name: wud
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 3003:3000

  sharex-server:
    image: alexthemaster/sharex-server:latest
    container_name: sharex-server
    user: 1000:1000
    ports:
      - "8089:8080"
    env_file:
      - sharex-server.env
    environment:
      - DEBUG=true
      - ENABLE_SXCU=false
      - TRUST_PROXY=true
      - FILE_LISTING=false
    volumes:
      - /mnt/HDD/DockerData/sharex-server:/server/uploads
    pull_policy: always
    restart: unless-stopped

volumes:
  portainer:
  caddy_data:
  caddy_config:
  beszel:

networks:
  default:
    name: home
    external: true
