name: Utilities
services:
  caddy:
    image: caddy:2-alpine
    container_name: caddy
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./caddy:/etc/caddy
      - /var/log/:/var/log
      - caddy_data:/data
      - caddy_config:/config
    pull_policy: always
    restart: unless-stopped

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      PUID: 1000
      PGID: 1000
      HOMEPAGE_ALLOWED_HOSTS: home.kovacs.eu.org
    ports:
      - 3000:3000
    volumes:
      - /home/alex/dotfiles/files/docker/home-server/homepage:/app/config
      - /mnt/HDD/:/HDD
    pull_policy: always
    restart: unless-stopped
    depends_on:
      - dockerproxy

  # Needed for homepage
  dockerproxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:latest
    container_name: dockerproxy
    environment:
      - CONTAINERS=1 # Allow access to viewing containers
      - SERVICES=1 # Allow access to viewing services (necessary when using Docker Swarm)
      - TASKS=1 # Allow access to viewing tasks (necessary when using Docker Swarm)
      - POST=0 # Disallow any POST operations (effectively read-only)
    ports:
      - 2375:2375
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # Mounted as read-only
    pull_policy: always
    restart: unless-stopped

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    command: -H tcp://portainer_agent:9001 --tlsskipverify
    ports:
      - 9000:9000
      - 9443:9443
    volumes:
      - portainer:/data
    pull_policy: always
    restart: unless-stopped
    depends_on:
      - portainer_agent

  portainer_agent:
    ports:
      - 9001:9001
    container_name: portainer_agent
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
      - /:/host
    image: portainer/agent:latest

  file-browser:
    image: filebrowser/filebrowser:latest
    container_name: file-browser
    environment:
      - PUID=1000
        PGID=1000
    ports:
      - 8112:80
    volumes:
      - filebrowser:/database
      - filebrowser:/config
      - /:/srv
    pull_policy: always
    restart: unless-stopped

  beszel:
    image: henrygd/beszel
    container_name: beszel
    restart: unless-stopped
    ports:
      - 8090:8090
    volumes:
      - beszel:/beszel_data

volumes:
  portainer:
  proxy_data:
  proxy_letsencrypt:
  filebrowser:
  pihole:
  pihole_dnsmasq:
  caddy_data:
  caddy_config:
  beszel:

networks:
  default:
    name: home
    external: true
