[user]
	name = Alex Kovacs
	email = alexdemaster@proton.me
	signingkey = /home/alex/.ssh/id_ed25519.pub
[core]
	editor = "code"
[help]
	autocorrect = 20
[safe]
    directory = *
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[commit]
	gpgsign = true
[gpg]
	format = ssh
